<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="air.com.sgn.cookiejam.gp">
    <application android:debuggable="false" android:enabled="true" android:hardwareAccelerated="false" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:launchMode="standard" android:name=".AppEntry" android:screenOrientation="user" android:theme="@style/Theme.NoShadow" android:windowSoftInputMode="stateHidden|adjustResize">
            <meta-data android:name="namespaceVersion" android:value="4.0"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="autoOrients" android:value="false"/>
            <meta-data android:name="fullScreen" android:value="true"/>
            <meta-data android:name="uniqueappversionid" android:value="54e7214a-f194-433c-b5fe-02ee489e2a5e"/>
            <meta-data android:name="initialcontent" android:value="release_android.swf"/>
            <meta-data android:name="containsVideo" android:value="false"/>
        </activity>
        <receiver android:exported="true" android:name="com.AdX.tag.AdXAppTracker">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="APP_NAME" android:value="air.com.sgn.cookiejam.gp"/>
        <meta-data android:name="ADX_CLIENT_ID" android:value="SGN76hgpDP"/>
        <meta-data android:name="ADX_LOG_LEVEL" android:value="0"/>
        <meta-data android:name="RTTestMode" android:value="false"/>
        <meta-data android:name="RTRateText" android:value="If you enjoy using %APP_NAME%, please take a moment to rate it. Thanks for your support!"/>
        <meta-data android:name="RTMarketURL" android:value="market://details?id=air.com.sgn.cookiejam.gp"/>
        <meta-data android:name="RTUsesUntilPrompt" android:value="0"/>
        <meta-data android:name="RTDaysUntilPrompt" android:value="2"/>
        <meta-data android:name="RTTimeBeforeReminding" android:value="0"/>
        <meta-data android:name="CBAppID" android:value="52e02e9df8975c0b734079aa"/>
        <meta-data android:name="CBSignature" android:value="a0475dbb49af422739fd8419d80d193235911762"/>
        <activity android:name="com.jesusla.ane.CustomActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:launchMode="singleTop" android:name="com.chartboost.sdk.CBDialogActivity" android:theme="@android:style/Theme.Translucent" android:windowSoftInputMode="adjustResize"/>
        <receiver android:name="com.sgn.mobile.AlarmReceiver"/>
        <meta-data android:name="GCMSenderID" android:value="727245302334"/>
        <activity android:label="Notification" android:name="com.sgn.mobile.OpenPushActivity"/>
        <receiver android:name="com.sgn.mobile.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="air.com.sgn.cookiejam.gp"/>
            </intent-filter>
        </receiver>
        <service android:name="com.sgn.mobile.GCMIntentService"/>
        <activity android:name="com.jesusla.ane.CustomActivity"/>
        <activity android:name="com.jesusla.facebook.FacebookExtendedPermissionsActivity" android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:name="com.jesusla.facebook.FacebookLoginActivity" android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:name="com.jesusla.facebook.FacebookGraphActivity" android:theme="@android:style/Theme.NoDisplay"/>
        <activity android:name="com.facebook.LoginActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="ANEDebug" android:value="false"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="405661196232030"/>
        <meta-data android:name="SGNAppID" android:value="2113"/>
        <service android:name="com.jesusla.google.BillingService"/>
        <receiver android:name="com.jesusla.google.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY"/>
                <action android:name="com.android.vending.billing.RESPONSE_CODE"/>
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.amazon.inapp.purchasing.ResponseReceiver">
            <intent-filter>
                <action android:name="com.amazon.inapp.purchasing.NOTIFY" android:permission="com.amazon.inapp.purchasing.Permission.NOTIFY"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="SKProvider" android:value="Google"/>
        <meta-data android:name="SKIdentity" android:value="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0H7pnoXi1Uzdg4di8pkGQx+bC8UKRWs+LS1vuuKipRo3nedYwu2hQ2sqMkM1xdBLj11KXMN/ZWn96J2GNCmgxK+IoBVz+s0uQo0zc3AZojupQ3Xvl3aUDyIQUyS21Jj4lLeCmZsE9JE3EZmgfYgWlgOP0+W4adEUz/pBl4jZwX21ruQarCFwZ+LqLaNM4br+kbyrh84s7xCVZdi5HcVXEloGLe1sHQq369G+mCdvAd8Dlhm53pA/Hr08BmFUjyy8mFNsN3hjRqouTGTDbP0XGYqZ+2iPkGz0eXwbSw9enSC11dyKtdbeg9ghrk9Wrwt22GTf6RWhuhLZgzu5iGC7/QIDAQAB"/>
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="879298079941"/>
        <meta-data android:name="com.google.android.gms.version" android:value="4242000"/>
        <activity android:name="com.sgn.googleservices.MainActivity" android:theme="@android:style/Theme.NoDisplay"/>
    </application>
    <permission android:name="air.com.sgn.cookiejam.gp.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="air.com.sgn.cookiejam.gp.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
</manifest>
