<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="air.au.com.metro.DumbWaysToDie">
    <application android:hardwareAccelerated="false" android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="@string/app_name" android:launchMode="singleTask" android:name=".AppEntry" android:screenOrientation="user" android:theme="@style/Theme.NoShadow" android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="namespaceVersion" android:value="3.8"/>
            <meta-data android:name="aspectRatio" android:value="landscape"/>
            <meta-data android:name="autoOrients" android:value="false"/>
            <meta-data android:name="fullScreen" android:value="true"/>
            <meta-data android:name="uniqueappversionid" android:value="9885114c-8bbf-428d-bfd4-e873f1043751"/>
            <meta-data android:name="initialcontent" android:value="dwtd.swf"/>
            <meta-data android:name="containsVideo" android:value="false"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.vungle.sdk.VungleAdvert" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <service android:name="com.vungle.sdk.VungleIntentService"/>
        <activity android:name="com.playhaven.src.publishersdk.content.PHContentView" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" android:windowSoftInputMode="adjustResize"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:launchMode="singleTop" android:name="com.chartboost.sdk.CBDialogActivity" android:theme="@android:style/Theme.Translucent" android:windowSoftInputMode="adjustResize"/>
        <activity android:excludeFromRecents="true" android:name="com.chartboost.sdk.CBImpressionActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:label="FuseApiAdBrowser" android:name="com.fusepowered.fuseactivities.FuseApiAdBrowser" android:noHistory="true" android:theme="@style/Theme.transparent">
            <intent-filter>
                <action android:name="com.fusepowered.fuseactivities.FuseApiAdBrowser"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="FuseApiMoregamesBrowser" android:name="com.fusepowered.fuseactivities.FuseApiMoregamesBrowser">
            <intent-filter>
                <action android:name="com.fusepowered.fuseactivities.FuseApiMoregamesBrowser"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:hardwareAccelerated="true" android:name="com.fusepowered.a1.A1InterstitialActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden" android:name="com.fusepowered.m2.m2l.M2Activity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.fusepowered.m2.m2l.M2RActivity"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.fusepowered.m2.m2l.M2RBrowser"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.fusepowered.m2.m2l.M2RvpActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" android:name="com.google.ads.AdActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:name="com.fusepowered.m1.android.MMActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:name="com.fusepowered.m1.android.VideoPlayer"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <supports-screens android:largeScreens="true" android:normalScreens="true" android:smallScreens="false" android:xlargeScreens="true"/>
</manifest>
